* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --navFootColor: #78e5f1;
    --divBg: white;
}

/* Minimenu */
.dropdown {
    position: relative;
    display: inline-block;
}

.listResults {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.listResults a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.listResults a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .listResults {
    display: block;
}

.dropdown:hover #resultsNav {
    background-color: #3e8e41;
}

body {
    background-image: url(./assets/lighy.jpg);
    background-size: cover;
    font-family: "Cabin Sketch", sans-serif;
}

.homeDivContainer {
    text-align: center;
    display: flex;
    justify-content: center;
}
.homeText {
    border-radius: 10px;
    margin: 3%;
    background-color: var(--divBg);
}
.text1 {
    width: 90%;
    padding: 0px 50px;
    margin: 0px 35px;
}
#form {
    text-align: center;
}

.formDiv {
    font-weight: bold;
    background-color: var(--divBg);
    border-radius: 10px;
    margin: 30px 0px;
}

#logo {
    margin-top: 30px;
}

.textHome {
    text-align: center;
    padding: 0 40px;
}

#logo {
    width: 90%;
}

#resultsTextDiv {
    background-color: var(--divBg);
    width: 90%;
    border-radius: 10px;
    margin-top: 5%;
}

.textContainer {
    display: flex;
    justify-content: center;
}

#personalityTestContainer {
    border-radius: 10px;
    background-color: var(--divBg);
    text-align: center;
}

#personalityDiv {
    justify-content: center;
    margin: 0% 4%;
    align-self: center;
    margin-top: 35px;
}

.prueba {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    background-color: var(--divBg);
    border-radius: 10px;
}

#personalityAnswerButtons {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    width: 20%;
    margin: 10px;
    height: 5vh;
}

.personalitybutton {
    width: 400px;
}

#graficDiv {
    width: 80vw;
    border-radius: 10px;
    background-color: var(--divBg);
    margin-top: 5%;
}

button:hover {
    background-color: lightpink;
    box-shadow: 5px 5px yellow;
}

.hide {
    display: none;
}

.controls {
    display: flex;
    justify-content: center;
}

.correct {
    background-color: rgb(174, 255, 136);
}

.wrong {
    background-color: rgb(232, 96, 160);
}

nav {
    background-color: var(--navFootColor);
    width: 100%;
    height: 10vh;
    font-weight: 400;
    padding-top: 30px;
}

span {
    padding: 2%;
}
.logos {
    margin: 10px 10px 15px;
    width: 25px;
    height: 25px;
}

.flex {
    display: flex;
    justify-content: center;
    max-width: 800px;
    width: 80vw;
}

/* quizsession */
#question-container {
    display: flex;
    justify-content: center;
    margin: 5px;
    margin-top: 2%;
}
#next-btn {
    text-align: center;
}
#quizInfoDiv {
    border-radius: 10px;
    width: 90vw;
    background-color: var(--divBg);
    padding: 0px 20px;
}

#questionPicture {
    display: flex;
    justify-content: center;
}

#infoDivTitle {
    display: flex;
    justify-content: center;
}

#score {
    text-align: center;
}

#question {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#answer-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

*/
/* RESULTS */

.anotherContainer {
    display: flex;
    justify-content: center;
    margin: 10% 20%;
}

#resultsTitle {
    margin: 3%;
}

#resultText {
    margin: 5%;
}

#footerDiv {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 9vh;
    background-color: var(--navFootColor);
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 20px;
}

#image {
    max-width: 400px;
}

.resultTitle {
    padding: 5%;
    font-weight: 900;
    color: rgb(18, 18, 18);
}

.resultP {
    padding: 5%;
}

#logo {
    width: 70%;
}
.graficContainer {
    max-width: 400px;
}

/* personality quiz */

#uestions {
    padding: 20px;
    align-self: center;
}

.personallityControls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.personalitybutton {
    border-radius: 5px;
    border: none;
    background-color: #b0dde3;
    transition: transform 0.3s;
}

.personalitybutton:hover {
    background-color: #b0dde3;
    border: yellow 3px solid;
    box-shadow: none;
    transform: scale(1.1);
}

#personalityStartBtn,
#resultsPersonalityButton {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    background-color: #78e5f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sendButton {
    max-width: 180px;
    padding: 10px;
    background-color: #78e5f1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

#sendButton:hover {
    background-color: #5bc0de;
}

#personalityStartBtn:hover,
#personalityNextBtn:hover {
    background-color: #5bc0de;
}

#myProgress {
    margin: 5px 0px;
    width: 100%;
    background-color: rgb(244, 200, 237);
    border-radius: 20px;
}

#myBar {
    height: 20px;
    border-radius: 20px;
    background-color: var(--navFootColor);
}

@media only screen and (max-width: 800px) {
    #question-container {
        background-color: pink;
        max-width: 400px;
        width: 80vw;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    body {
        background-color: lightblue;
    }

    #image {
        border: 5px fuchsia solid;
        height: 180px;
    }

    h2 {
        padding: 5%;
    }

    nav {
        font-size: 20px;
        padding: 5%;
    }

    button {
        height: 5vh;
        width: 50vw;
    }

    #answer-buttons {
        margin-left: 20px;
    }
}
