
  *{margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}
.hide{
    display: none;
}
.controls{
    display: flex;
    justify-content: center;
}
.correct {
background-color: rgb(0, 255, 72);
}

.wrong {
background-color: rgb(255, 0, 0);
}
nav{
    background-color: #ffe4c4;
    width: 100%;
    padding: 2%;
    font-size: 25px;
}
div {border: 1px black solid;}
button {
    width: 20%;
    height: 5vh;

}
span {
    padding: 2%;
}

.homeDivContainer{
    display: flex;
    justify-content: center;
}
.flex{
    max-width: 800px;
    width: 80vw;
}

.homeText{
    padding: 2%;
}

/* quizsession */
#questionPicture{
    display: flex;
    justify-content: center;
}
#infoDivTitle{
    text-align: center;
}
#score{
    text-align: center;
}
#quizDiv{
    display: flex;
    justify-content: center;
}

#question-container{
    max-width: 800px;
    width: 80vw;
}

#question{
    padding: 2%;
    display: flex;
    justify-content: center;
}

#answer-buttons{
    padding: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* RESULTS */

.anotherContainer{
    margin: 10% 20%;
    display: flex;
    justify-content: center;
}
#resultsTitle{
    margin: 3%;
}
 #resultText{
    margin: 5%;
} 
#footerDiv{
    position: fixed;
    bottom: 0;
    width: 100%;
    height:  9vh;
    background-color: aquamarine;
}
#image{
max-height: 350px;
}

@media only screen and (max-width: 450px) {
    body {
    background-color: lightblue;
}
#image{
    border: 5px fuchsia solid;
height: 180px;}
h2 {
    padding: 5%;
}

button {
    width: 100%;
    height: 5vh;
    margin: 1%;
}
nav{
    padding: 5%;
}
}